    body {
        font: 10px;
    }

    .main{
        margin-top:1.4rem;
    }

.date-buttons {
    /*display: flex;*/
    position: absolute;
    top: 2.4rem;
    margin-left: 40rem;
    
    
}

    .box {
    height: 30px;
    width: 150px;
    margin-left: 20px;
    transition: all 300ms ease;
}

    .box:hover {
        border: 1px solid;
        box-shadow: 1px 1px 1px 1px #888888;
    }

     .insights{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100rem;
    gap: 2rem;
    }


    .insights > div {
       /*background: #;*/
       padding: 1px;
       border-radius: 10px;
       margin-top: 1rem;
       box-shadow: 0 0.1rem 1rem  #000000 ;
       transition: all 300ms ease;
    }


    .insights > div:hover {
        box-shadow: none;
    }

    .insights > div .middle{
        display: inline-block;
        padding-left: 20%;
       
    }

    .charts{
    /*width: 20px;*/
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100rem;
    gap: 1.6rem;
    }

    .piechart {
        width: 900px;
        height: 500px;
    }

    .countercharts {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        width: 100rem;
        gap: 1.6rem;
        /*margin-top: 20px*/
    }

    .dgvprodshort {
        border: 1px solid #000000;
    }

    .pnlTotalCounter {
        border: 1px solid #000000;
    }

    
    .content {
        display: block;
        /*align-items: center;*/
        justify-content: space-between;
        padding-left: 10px;
        padding: 10px;
    }




